{% extends 'base.html' %}

{% block content %}
{% if me %}
<br>
<h2>Информация о вас: {{ user.username }}</h2>
{% if user.first_name or user.last_name %}
<div>Имя - {{ user.first_name|default:'Не указано' }}</div>
<div>Фамилия - {{ user.last_name|default:'Не указано' }}</div>
{% endif %}
<div>Электронная почта : {{ user.email|default:'Не указано' }}</div>
<div>Телефон : {{ user.phone|default:'Не указано' }}</div>
<div>Город : {{ user.city|default:'Не указано' }}</div>
<br>
<div>Дата регистрации: {{ user.date_joined|date:'d-m-Y H:i' }}</div>
{% if user.avatar %}
<div>
    <h3>Аватар:</h3>
    <img src="{{ user.avatar.url }}" alt="Аватар пользователя" style="max-width: 150px; max-height: 150px;">
</div>
{% else %}
<div>
    <h3>Аватар:</h3>
    <p>Аватар не загружен</p>
</div>
{% endif %}
{% else %}
<h2>Информация о пользователе: {{ user.username }}</h2>
<div>Дата регистрации: {{ user.date_joined|date:'d-m-Y H:i' }}</div>
<div>
    <h3>Аватар:</h3>
    <img src="{{ user.avatar.url }}" alt="Аватар пользователя" style="max-width: 150px; max-height: 150px;">
</div>
{% endif %}
{% endblock %}
